<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.LocationReminder">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsApiKey}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LocationReminder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MapSelectionActivity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
android:value="com.shalyminov.lorem.MainActivity" />
    </activity>

    <activity
        android:name=".SettingsActivity"
        android:exported="false"
        android:launchMode="singleTop">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.shalyminov.lorem.MainActivity" />
        </activity>

        <service
            android:name=".LocationMonitorService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location">
            <intent-filter>
                <action android:name="com.shalyminov.lorem.LocationMonitorService" />
            </intent-filter>
        </service>

    </application>
</manifest>
